body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  h2 {
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .card01 {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 350px;
    display: flex;
    flex-direction: column;
    cursor: pointer; /* Indicates the element is clickable */
  }
  
  .card01:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color: rgb(244, 238, 226);
  }
  
  
  .card01.active {
    background-color: #007bff; /* Changes the background color when clicked */
    transform: scale(1.1); /* Slightly increases the scale when active */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  
  .card-title {
    font-size: 1.5rem;
    color: #343a40;
    margin: 15px 0;
    text-align: center;
  }
  
  .card-body {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
  }
  
  .card-body ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    flex-grow: 1;
  }
  
  .card-body ul li {
    margin-bottom: 10px;
    line-height: 1.5;
    color: #555;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
  }
  
  .footer a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer a:hover {
    color: #ddd;
  }
  
  .navbar {
    background-color: #333;
    padding: 10px 20px;
  }
  
  .navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .navbar-brand img {
    margin-right: 10px;
  }
  
  .navbar .nav {
    display: flex;
    align-items: center;
  }
  
  .navbar .nav-item {
    margin-left: 20px;
  }
  
  .navbar .nav-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navbar .nav-link:hover {
    color: #ddd;
  }
  